In [21]:
import psycopg2
import pandas as pd

In [22]:
# read dataset
campaign = pd.read_excel('D:/iykra/data1/campaign.xlsx')
campaign_details = pd.read_excel('D:/iykra/data1/campaign_details.xlsx')
delivorder = pd.read_csv('D:/iykra/data1/delivorder.csv',nrows=1000)
delivorder_item = pd.read_csv('D:/iykra/data1/delivorder_item.csv',nrows=1000)
distance = pd.read_excel('D:/iykra/data1/distance.xlsx')
geographic = pd.read_excel('D:/iykra/data1/geographic.xlsx')
plants = pd.read_excel('D:/iykra/data1/plants.xlsx')
produk = pd.read_excel('D:/iykra/data1/produk.xlsx')
sales_order = pd.read_excel('D:/iykra/data1/sales_order2.xlsx')
search_keyword = pd.read_excel('D:/iykra/data1/search_keyword.xlsx')
user_location = pd.read_excel('D:/iykra/data1/user_location.xlsx')

In [23]:
# cek info table campaign
campaign.info()
# cek info table campaign_details
campaign_details.info()
# cek info table delivorder
delivorder.info()
# cek info table delivorder_item
delivorder_item.info()
# cek info table distance
distance.info()
# cek info table geographic
geographic.info()
# cek info table plants
plants.info()
# cek info table produk
produk.info()
# cek info table sales_order
sales_order.info()
# cek info table search_keyword
search_keyword.info()
# cek info table user_location
user_location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 13 columns):
campaign             14 non-null object
state                14 non-null object
type                 14 non-null object
currency             14 non-null object
clicks               14 non-null int64
impressions          14 non-null int64
ctr                  14 non-null int64
avg_cpc              14 non-null float64
cost                 14 non-null float64
conversions          14 non-null float64
view_through_conv    14 non-null int64
cost_per_conv        14 non-null float64
conv_rate            14 non-null float64
dtypes: float64(5), int64(4), object(4)
memory usage: 1.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 29 columns):
campaign                 14 non-null object
state                    14 non-null object
type                     14 non-null object
subtype                  14 non-null object
labels                   10 non-null object
bid_strategy             14 non-null object
bid_strategy_type        14 non-null object
sitelinks_active         14 non-null int64
sitelinks_disapproved    14 non-null int64
phone_active             14 non-null int64
phone_disapproved        14 non-null int64
apps_active              14 non-null int64
apps_disapproved         14 non-null int64
apps_level               14 non-null object
desktop_bid_adj          14 non-null object
mobile_bid_adj           14 non-null object
tablet_bid_adj           14 non-null object
currency                 14 non-null object
clicks                   14 non-null int64
impressions              14 non-null int64
ctr                      14 non-null int64
avg_cpc                  14 non-null float64
cost                     14 non-null float64
impr_abs_top             14 non-null float64
impr_top                 14 non-null float64
conversions              14 non-null float64
view_through_conv        14 non-null int64
cost_per_conv            14 non-null float64
conv_rate                14 non-null float64
dtypes: float64(7), int64(10), object(12)
memory usage: 3.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 41 columns):
do_id                            1000 non-null int64
do_tgl                           1000 non-null object
do_org_id                        1000 non-null int64
do_so_id                         1000 non-null int64
do_tm_id                         906 non-null float64
do_nomor                         1000 non-null object
do_driver_id                     906 non-null float64
do_status_verifikasi             1000 non-null int64
do_is_invoice                    1000 non-null int64
do_is_tolak                      1000 non-null int64
do_tolak_ket                     0 non-null float64
do_tgl_tolak                     0 non-null float64
do_jam_berangkat                 1000 non-null object
do_ket                           0 non-null float64
do_bag_pengiriman_id             0 non-null float64
do_createtime                    1000 non-null object
do_tgl_terima                    999 non-null object
do_is_jurnal                     1000 non-null int64
do_jam_terima                    999 non-null object
do_jam_datang_diproyek           999 non-null object
do_jam_bongkar                   999 non-null object
do_tgl_datang_diproyek           999 non-null object
do_tgl_bongkar                   999 non-null object
do_is_invoice_plant_utama        1000 non-null int64
do_stat_id                       999 non-null float64
do_tgl_pulang                    999 non-null object
do_jam_pulang                    999 non-null object
do_jarak_km                      0 non-null float64
do_ba_penolakan                  5 non-null object
do_pembuat_penolakan             5 non-null float64
do_penyebab_penolakan            5 non-null object
do_penyetuju_penolakan           5 non-null float64
do_tld_id                        5 non-null float64
do_hari_ba_penolakan             5 non-null object
do_tgl_ba_penolakan              5 non-null object
do_barcode                       0 non-null float64
do_alasan_berkas_belum_terima    92 non-null float64
do_is_berkas_diterima            992 non-null float64
do_tgl_berkas_diterima           899 non-null object
do_tempat_cor                    0 non-null float64
do_lokasi_terima                 0 non-null float64
dtypes: float64(16), int64(8), object(17)
memory usage: 320.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
doi_id            1000 non-null int64
doi_do_id         1000 non-null int64
doi_soi_id        1000 non-null int64
doi_qty_kirim     1000 non-null float64
doi_qty_terima    1000 non-null float64
ket               0 non-null float64
dtypes: float64(3), int64(3)
memory usage: 47.0 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 11 columns):
from_location        16 non-null object
currency             16 non-null object
clicks               16 non-null int64
impressions          16 non-null int64
ctr                  16 non-null float64
avg_cpc              16 non-null float64
cost                 16 non-null float64
conversions          16 non-null float64
view_through_conv    16 non-null int64
cost_per_conv        16 non-null float64
conv_rate            16 non-null int64
dtypes: float64(5), int64(4), object(2)
memory usage: 1.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 895 entries, 0 to 894
Data columns (total 18 columns):
country_territory         895 non-null object
region                    895 non-null object
metro_area                895 non-null object
city                      895 non-null object
most_targeted_location    895 non-null object
location_type             895 non-null object
currency                  895 non-null object
clicks                    895 non-null int64
impressions               895 non-null int64
ctr                       895 non-null float64
avg_cpc                   895 non-null float64
cost                      895 non-null float64
impr_abs_top              895 non-null float64
impr_top                  895 non-null float64
conversions               895 non-null float64
view_through_conv         895 non-null int64
cost_per_conv             895 non-null float64
conv_rate                 895 non-null float64
dtypes: float64(8), int64(3), object(7)
memory usage: 125.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
plant                 25 non-null object
batching_tipe         25 non-null object
batching_jml          25 non-null int64
batching_kapasitas    25 non-null int64
status                25 non-null object
jml_truk              22 non-null float64
dtypes: float64(1), int64(2), object(3)
memory usage: 1.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 5 columns):
no               65 non-null int64
mutu             65 non-null object
spesifikasi      65 non-null object
slump            65 non-null object
spek_tambahan    14 non-null object
dtypes: int64(1), object(4)
memory usage: 2.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24966 entries, 0 to 24965
Data columns (total 9 columns):
tanggal_pemesanan       24966 non-null datetime64[ns]
nomor_kontrak_retail    24966 non-null object
pelanggan               24966 non-null object
jenis                   24966 non-null object
nama_proyek             24966 non-null object
product                 24965 non-null object
area                    24966 non-null object
nilai                   24966 non-null int64
status                  24966 non-null object
dtypes: datetime64[ns](1), int64(1), object(7)
memory usage: 1.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328 entries, 0 to 327
Data columns (total 19 columns):
keyword               328 non-null object
keyword_status        328 non-null object
keyword_match_type    328 non-null object
campaign              328 non-null object
ad_group              328 non-null object
keyword_max_cpc       328 non-null int64
currency              328 non-null object
clicks                328 non-null int64
impressions           328 non-null int64
ctr                   328 non-null float64
avg_cpc               328 non-null float64
cost                  328 non-null int64
impr_abs_top          328 non-null float64
impr_top              328 non-null float64
conversions           328 non-null float64
view_through_conv     328 non-null int64
cost_conv             328 non-null float64
conv_rate             328 non-null float64
avg_cpm               328 non-null float64
dtypes: float64(8), int64(5), object(6)
memory usage: 48.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439 entries, 0 to 438
Data columns (total 18 columns):
country                   439 non-null object
region                    439 non-null object
metro_area                439 non-null object
city                      439 non-null object
most_targeted_location    439 non-null object
location_type             439 non-null object
currency                  439 non-null object
clicks                    439 non-null int64
impressions               439 non-null int64
ctr                       439 non-null float64
avg_cpc                   439 non-null float64
cost                      439 non-null float64
impr_abs_top              439 non-null float64
impr_top                  439 non-null float64
conversions               439 non-null float64
view_through_conv         439 non-null int64
cost_conv                 439 non-null float64
conv_rate                 439 non-null float64
dtypes: float64(8), int64(3), object(7)
memory usage: 61.8+ KB

In [24]:
# fungsi untuk cek unique values pada tiap table
def unique(table) :
    return table.nunique() == len(table)

In [25]:
# menjalankan fungsi unique() untuk table campaign
unique(campaign)

campaign              True
state                False
type                 False
currency             False
clicks               False
impressions          False
ctr                  False
avg_cpc              False
cost                 False
conversions          False
view_through_conv    False
cost_per_conv        False
conv_rate            False
dtype: bool

In [5]:
# menjalankan fungsi unique() untuk table campaign_details
unique(campaign_details)

campaign                  True
state                    False
type                     False
subtype                  False
labels                   False
bid_strategy             False
bid_strategy_type        False
sitelinks_active         False
sitelinks_disapproved    False
phone_active             False
phone_disapproved        False
apps_active              False
apps_disapproved         False
apps_level               False
desktop_bid_adj          False
mobile_bid_adj           False
tablet_bid_adj           False
currency                 False
clicks                   False
impressions              False
ctr                      False
avg_cpc                  False
cost                     False
impr_abs_top             False
impr_top                 False
conversions              False
view_through_conv        False
cost_per_conv            False
conv_rate                False
dtype: bool

In [26]:
# menjalankan fungsi unique() untuk table delivorder
unique(delivorder)

do_id                             True
do_tgl                           False
do_org_id                        False
do_so_id                         False
do_tm_id                         False
do_nomor                          True
do_driver_id                     False
do_status_verifikasi             False
do_is_invoice                    False
do_is_tolak                      False
do_tolak_ket                     False
do_tgl_tolak                     False
do_jam_berangkat                 False
do_ket                           False
do_bag_pengiriman_id             False
do_createtime                    False
do_tgl_terima                    False
do_is_jurnal                     False
do_jam_terima                    False
do_jam_datang_diproyek           False
do_jam_bongkar                   False
do_tgl_datang_diproyek           False
do_tgl_bongkar                   False
do_is_invoice_plant_utama        False
do_stat_id                       False
do_tgl_pulang                    False
do_jam_pulang                    False
do_jarak_km                      False
do_ba_penolakan                  False
do_pembuat_penolakan             False
do_penyebab_penolakan            False
do_penyetuju_penolakan           False
do_tld_id                        False
do_hari_ba_penolakan             False
do_tgl_ba_penolakan              False
do_barcode                       False
do_alasan_berkas_belum_terima    False
do_is_berkas_diterima            False
do_tgl_berkas_diterima           False
do_tempat_cor                    False
do_lokasi_terima                 False
dtype: bool

In [27]:
# menjalankan fungsi unique() untuk table delivorder_item
unique(delivorder_item)

doi_id             True
doi_do_id          True
doi_soi_id        False
doi_qty_kirim     False
doi_qty_terima    False
ket               False
dtype: bool

In [28]:
# menjalankan fungsi unique() untuk table distance
unique(distance)

from_location         True
currency             False
clicks                True
impressions           True
ctr                  False
avg_cpc               True
cost                  True
conversions           True
view_through_conv    False
cost_per_conv         True
conv_rate            False
dtype: bool

In [29]:
# menjalankan fungsi unique() untuk table geographic
unique(geographic)

country_territory         False
region                    False
metro_area                False
city                      False
most_targeted_location    False
location_type             False
currency                  False
clicks                    False
impressions               False
ctr                       False
avg_cpc                   False
cost                      False
impr_abs_top              False
impr_top                  False
conversions               False
view_through_conv         False
cost_per_conv             False
conv_rate                 False
dtype: bool

In [30]:
# menjalankan fungsi unique() untuk table plants
unique(plants)

plant                  True
batching_tipe         False
batching_jml          False
batching_kapasitas    False
status                False
jml_truk              False
dtype: bool

In [31]:
# menjalankan fungsi unique() untuk table produk
unique(produk)

no                True
mutu             False
spesifikasi      False
slump            False
spek_tambahan    False
dtype: bool

In [32]:
# menjalankan fungsi unique() untuk table sales_order
unique(sales_order)

tanggal_pemesanan       False
nomor_kontrak_retail     True
pelanggan               False
jenis                   False
nama_proyek             False
product                 False
area                    False
nilai                   False
status                  False
dtype: bool

In [23]:
# menjalankan fungsi unique() untuk table search_keyword
unique(search_keyword)

keyword               False
keyword_status        False
keyword_match_type    False
campaign              False
ad_group              False
keyword_max_cpc       False
currency              False
clicks                False
impressions           False
ctr                   False
avg_cpc               False
cost                  False
impr_abs_top          False
impr_top              False
conversions           False
view_through_conv     False
cost_conv             False
conv_rate             False
avg_cpm               False
dtype: bool

In [33]:
# menjalankan fungsi unique() untuk table user_location
unique(user_location)

country                   False
region                    False
metro_area                False
city                      False
most_targeted_location    False
location_type             False
currency                  False
clicks                    False
impressions               False
ctr                       False
avg_cpc                   False
cost                      False
impr_abs_top              False
impr_top                  False
conversions               False
view_through_conv         False
cost_conv                 False
conv_rate                 False
dtype: bool

In [50]:
# connect to PostgreSQL
host="localhost"
database="postgres"
user="postgres"
password="miya"

In [49]:
# connect to PostgreSQL
#conn.close()
conn = psycopg2.connect(host=host,database=database, user=user, password=password, port='5432')
cur = conn.cursor()

In [53]:
#fungsi create all table
def create_tables(conn,cur):
    """create tables in the PostgreSQL database"""
    commands = (
        """
        CREATE TABLE public.campaign_m (
            campaign VARCHAR(255) PRIMARY KEY,
            state VARCHAR(255),
            type VARCHAR(255),
            currency VARCHAR(255),
            clicks INTEGER,
            impressions INTEGER,
            ctr INTEGER,
            avg_cpc FLOAT,
            cost FLOAT,
            conversions FLOAT,
            view_through_conv INTEGER,
            cost_per_conv FLOAT,
            conv_rate FLOAT
            )
        """,
        """
        CREATE TABLE public.campaign_details_m
                (
                campaign VARCHAR (255) PRIMARY KEY,
                state VARCHAR (255),
                type VARCHAR (255),
                subtype VARCHAR (255),
                labels VARCHAR (255),
                bid_strategy VARCHAR (255),
                bid_strategy_type VARCHAR (255),
                sitelinks_active INTEGER,
                sitelinks_disapproved INTEGER,
                phone_active INTEGER,
                phone_disapproved INTEGER,
                apps_active INTEGER,
                apps_disapproved INTEGER,
                apps_level VARCHAR (255),
                desktop_bid_adj VARCHAR (255),
                mobile_bid_adj VARCHAR (255),
                tablet_bid_adj VARCHAR (255),
                currency VARCHAR (255),
                clicks INTEGER,
                impressions INTEGER,
                ctr INTEGER,
                avg_cpc FLOAT,
                cost FLOAT,
                impr_abs_top FLOAT,
                impr_top FLOAT,
                conversions FLOAT,
                view_through_conv INTEGER,
                cost_per_conv FLOAT,
                conv_rate FLOAT
                )
        """,
        """
        CREATE TABLE public.distances_m
                (
                from_location VARCHAR(255) PRIMARY KEY, 
                currency VARCHAR(255),
                clicks INTEGER,
                impressions INTEGER,
                ctr FLOAT,
                avg_cpc FLOAT,
                cost FLOAT,
                conversions FLOAT,
                view_through_conv INTEGER,
                cost_per_conv FLOAT,
                conv_rate INTEGER
                )
        """,
        
        """
        CREATE TABLE public.delivorder_m
                (
                do_id INTEGER PRIMARY KEY,
                do_tgl VARCHAR (255),
                do_org_id INTEGER,
                do_so_id INTEGER,
                do_tm_id FLOAT,
                do_nomor VARCHAR (255),
                do_driver_id FLOAT,
                do_status_verifikasi INTEGER,
                do_is_invoice INTEGER,
                do_is_tolak INTEGER,
                do_tolak_ket FLOAT,
                do_tgl_tolak FLOAT,
                do_jam_berangkat VARCHAR (255),
                do_ket FLOAT,
                do_bag_pengiriman_id FLOAT,
                do_createtime VARCHAR (255),
                do_tgl_terima VARCHAR (255),
                do_is_jurnal INTEGER,
                do_jam_terima VARCHAR (255),
                do_jam_datang_diproyek VARCHAR (255),
                do_jam_bongkar VARCHAR (255),
                do_tgl_datang_diproyek VARCHAR (255),
                do_tgl_bongkar VARCHAR (255),
                do_is_invoice_plant_utama INTEGER,
                do_stat_id FLOAT,
                do_tgl_pulang VARCHAR (255),
                do_jam_pulang VARCHAR (255),
                do_jarak_km FLOAT,
                do_ba_penolakan VARCHAR (255),
                do_pembuat_penolakan FLOAT,
                do_penyebab_penolakan VARCHAR (255),
                do_penyetuju_penolakan FLOAT,
                do_tld_id FLOAT,
                do_hari_ba_penolakan VARCHAR (255),
                do_tgl_ba_penolakan VARCHAR (255),
                do_barcode FLOAT,
                do_alasan_berkas_belum_terima FLOAT,
                do_is_berkas_diterima FLOAT,
                do_tgl_berkas_diterima VARCHAR (255),
                do_tempat_cor VARCHAR (255),
                do_lokasi_terima FLOAT
                )

        """,
        """
         CREATE TABLE public.delivorder_item_m
                (
                id_delivorder SERIAL PRIMARY KEY,
                doi_id INTEGER,
                doi_do_id INTEGER,
                doi_soi_id INTEGER,
                doi_qty_kirim FLOAT,
                doi_qty_terima FLOAT,
                ket VARCHAR(255)
                )

        """,
        """
        CREATE TABLE public.plant_m
                (
                plant VARCHAR (255) PRIMARY KEY,
                batching_tipe VARCHAR (255),
                batching_jml INTEGER,
                batching_kapasitas INTEGER,
                status VARCHAR (255),
                jml_truk FLOAT
                )

        """,
        """
        CREATE TABLE public.geographic_m
                (
                id_geo SERIAL PRIMARY KEY,
                country_territory VARCHAR(255),
                region VARCHAR(255),
                metro_area VARCHAR(255),
                city VARCHAR(255),
                most_targeted_location VARCHAR(255),
                location_type VARCHAR(255),
                currency VARCHAR(255),
                clicks INTEGER,
                impressions INTEGER,
                ctr FLOAT,
                avg_cpc FLOAT,
                cost FLOAT,
                impr_abs_top FLOAT,
                impr_top FLOAT,
                conversions FLOAT,
                view_through_conv INTEGER,
                cost_per_conv FLOAT,
                conv_rate FLOAT
                )
        """,
        """
        CREATE TABLE public.produk_m      
                (
                no INTEGER PRIMARY KEY,
                mutu VARCHAR(255),
                spesifikasi VARCHAR(255),
                slump VARCHAR(255),
                spek_tambahan VARCHAR(255)
                )

        """,
        """
        CREATE TABLE public.sales_order2_m       
                (
                tanggal_pemesanan TIMESTAMP,
                nomor_kontrak_retail VARCHAR(255) PRIMARY KEY,
                pelanggan VARCHAR(255),
                jenis VARCHAR(255),
                nama_proyek VARCHAR(255),
                product VARCHAR(255),
                area VARCHAR(255),
                nilai INTEGER,
                status VARCHAR(255)
                )

        """,
        """
        CREATE TABLE public.search_keyword_m      
                (
                id_keyword SERIAL PRIMARY KEY,
                keyword VARCHAR (255),
                keyword_status VARCHAR (255),
                keyword_match_type VARCHAR (255),
                campaign VARCHAR (255),
                ad_group VARCHAR (255),
                keyword_max_cpc INTEGER,
                currency VARCHAR (255),
                clicks INTEGER,
                impressions INTEGER,
                ctr FLOAT,
                avg_cpc FLOAT,
                cost INTEGER,
                impr_abs_top FLOAT,
                impr_top FLOAT,
                conversions FLOAT,
                view_through_conv INTEGER,
                cost_conv FLOAT,
                conv_rate FLOAT,
                avg_cpm FLOAT
                )

        """,
        """
        CREATE TABLE public.user_location_m        
                (
                id_location SERIAL PRIMARY KEY,
                country VARCHAR (255),
                region VARCHAR (255),
                metro_area VARCHAR (255),
                city VARCHAR (255),
                most_targeted_location VARCHAR (255),
                location_type VARCHAR (255),
                currency VARCHAR (255),
                clicks INTEGER,
                impressions INTEGER,
                ctr FLOAT,
                avg_cpc FLOAT,
                cost FLOAT,
                impr_abs_top FLOAT,
                impr_top FLOAT,
                conversions FLOAT,
                view_through_conv INTEGER,
                cost_conv FLOAT,
                conv_rate FLOAT
                )
        """
        ,)
    for command in commands:
        cur.execute(command)
        conn.commit()

In [54]:
# menjalankan fungsi create table
create_tables (conn,cur)

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [55]:
# fungsi insert values into tables in PostgreSQL
def insert_into(python_table, sql_table, conn, cur):
    # list COLUMNS
    list_columns = list(python_table.columns)
    
    # VALUES to be inserted
    value = []
    table_as_str = python_table.astype(str)
    for i in range(len(table_as_str)):
        value.append(str(tuple(table_as_str.iloc[i].to_list())))
    value = ",".join(value)
    
    sql = "INSERT INTO %s(%s) VALUES %s" % (sql_table, ", ".join(col for col in list_columns), value)
    try:
        # execute the INSERT statement
        cur.execute(sql, (sql_table,))
        # commit the changes to the database
        conn.commit()
        # close communication with the database
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)

In [56]:
# insert values into table campaign
insert_into (campaign, 'campaign', conn, cur)

current transaction is aborted, commands ignored until end of transaction block

In [57]:
# insert values into table campaign_details
insert_into (campaign_details, 'campaign_details', conn, cur)

current transaction is aborted, commands ignored until end of transaction block

In [58]:
# insert values into table delivorder
insert_into (delivorder, 'delivorder', conn, cur)

current transaction is aborted, commands ignored until end of transaction block

In [59]:
# insert values into table delivorder_item
insert_into (delivorder_item, 'delivorder_item', conn, cur)

current transaction is aborted, commands ignored until end of transaction block

In [40]:
# insert values into table geographic
insert_into (geographic, 'geographic', conn, cur)

current transaction is aborted, commands ignored until end of transaction block

In [60]:
# insert values into table plants
insert_into (plants, 'plant', conn, cur)

current transaction is aborted, commands ignored until end of transaction block

In [61]:
# insert values into table produk
insert_into (produk, 'produk', conn, cur)

current transaction is aborted, commands ignored until end of transaction block

In [62]:
# insert values into table sales_order2
insert_into (sales_order, 'sales_order2', conn, cur)

current transaction is aborted, commands ignored until end of transaction block

In [63]:
# insert values into table search_keyword
insert_into (search_keyword, 'search_keyword', conn, cur)

current transaction is aborted, commands ignored until end of transaction block

In [64]:
# insert values into table distances
insert_into (distance, 'distances', conn, cur)

current transaction is aborted, commands ignored until end of transaction block

In [65]:
# insert values into table user_location
insert_into (user_location, 'user_location', conn, cur)

current transaction is aborted, commands ignored until end of transaction block